/* Navigatiebalk */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    width: 100%;
    padding: 10px 20px;
}

/* Linkerkant: evt logo en titel */
.navbar div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar div p {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}

/* Rechterkant: navigatielinks en knop */
.navbar ul {
    display: flex;
    gap: 15px;
    list-style: none;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

.active-menu-link {
    border-bottom: none;
}

.default-menu-link {
    border-bottom: 1px solid black;
}

.navbar li {
    display: flex;
    align-items: center;
}
.navbar .button-red {
    margin-top: 0; /* verwijder ongewenste margin uit algemene knopstijl */
}