/* Navigatiebalk */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-background-dark);
    color: var(--color-text-light);
    width: 100%;
    padding: 10px 20px;
}

/* Linkerkant: evt logo en titel */
.navbar div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar div p {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-text-light);
}

/* Rechterkant: navigatielinks en knop */
.navbar ul {
    display: flex;
    gap: 15px;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navbar a {
    text-decoration: none;
    color: var(--color-text-light);
    font-weight: bold;
    font-size: 16px;
    padding: 6px 8px;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out, color 0.2s;
}

.navbar a:hover {
    text-decoration: underline;
    color: var(--color-accent-red-dark);
}

/* Actieve link (huidige pagina) */
.nav-links li .active-tab {
    color: var(--color-accent-red);
    text-decoration: underline;
    font-weight: bold;
}

/* Niet-actieve links */
.nav-links li a:not(.active-tab) {
    color: var(--color-text-light);
}

/* Lijstitem styling */
.navbar li {
    display: flex;
    align-items: center;
}

