.input-base {
    margin-bottom: 12px;
    font-size: 16px;
    border: 1px solid var(--color-border-light) !important;
    border-radius: 6px;
    background-color: var(--color-input-bg) !important;
    box-sizing: border-box;
    transition: border 0.2s ease;
    padding: 12px 24px;
    height: 48px;
    width: 100%;                /* vaste breedte, niet max-width */
    min-width: 300px;
    max-width: 800px;

}

.input-base:focus {
    outline: none;
    border-color: var(--color-accent-red);
    box-shadow: 0 0 0 2px var(--color-accent-red-soft);
}

.input-narrow {
    min-width: 100px;
    max-width: 200px;
}

.input-number {
    height: 48px;               /* zelfde als .button-square */
    width: 60px;                /* vaste breedte, niet max-width */
    padding: 0 12px;            /* verticale padding = 0 */
    min-width: 50px;
    max-width: 50px;
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    box-sizing: border-box;
    line-height: 1;
    margin: 0;                  /* voorkomt optische verschuivingen */
    align-self: center;         /* belangrijk in flex-row context */
}

/* Verberg de standaard spinnerknoppen in number fields */

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}